:root {
    --red: #e53935;
    --red-light: #ff6f60;
    --yellow: #fdd835;
    --yellow-light: #ffff6b;
    --blue: #1e88e5;
    --blue-light: #6ab7ff;
    --green: #388e3c;
    --green-light: #6abf69;
    --white: #fff;
    --black: #000;
    --gray-light: #cdcdcd;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    width: 90px;
}

.students {
    margin: 10px 30px;
}
  